.idea/
.gradle/
.settings
.project
.classpath
ant_output
**/build
/traget
**/node_modules
*.iws
*.ipr
*.iml
.toDelete
**/generatedsources
**/out
.shelf
*.orig
/target/
*.tests.logfile.log
*.tests-common.logfile.log
*.log
*.log.*
/src/main/java/META-INF/MANIFEST.MF
*.xls
*.xlsx
*.cfg
*.class
*.csv
